<div class="sidebar">
    <div class="list">
        <NavLink href="" Match="NavLinkMatch.All">Manage Customer</NavLink>
        <NavLink href="Equipment">Manage Equipment</NavLink>
        <NavLink href="Rental">Manage Rental</NavLink>
    </div>
</div>

